:root {
  --main-font: "Roboto", sans-serif;
  --main-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --text-color: #212121;
  --white-text: #ffffff;
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding: 0;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

a {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.header-frame {
  border: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color);
}

.logo-accent-footer {
  color: var(--white-text);
}

.navigation {
  display: flex;
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.navigation .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--text-color);
}

.navigation a:hover,
.navigation a:focus {
  color: var(--accent-color);
}

.navigation .current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/*страница студии*/
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text);

  margin-bottom: 30px;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--white-text);
  background-color: #2196f3;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;

  color: var(--text-color);
  margin-bottom: 50px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
}

.features-heder {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--text-color);

  margin-bottom: 10px;
}

.business {
  padding-bottom: 94px;
}

.business-img {
  display: flex;
  justify-content: space-between;
}

.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-list {
  display: flex;
  justify-content: space-between;
}
.command-heder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.command-text {
  font-size: 16px;
  line-height: 1.19;
}

/* Футер */

.footer {
  background-color: var(--background-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--white-text);
  margin-top: 20px;
  margin-bottom: 9px;
}

.address-contacts a {
  padding-left: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address-contacts a:hover,
.address-contacts a:focus {
  color: var(--accent-color);
}

.mail {
  margin-bottom: 9px;
}

/* Портфолио*/

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container .list-btn:last-child {
  margin-right: 8px;
}

.list-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  background: #f5f4fa;
}

.list-btn:hover,
.list-btn:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
}

.filters .current {
  color: var(--white-text);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-heder {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--main-color);
}
